@import "tailwindcss";

@layer components {
  .card {
    @apply max-w-82 w-full rounded-[5px];
  }

  .values {
    @apply bg-gray-300 w-full max-w-150 h-full min-h-75 rounded-2xl px-5;
  }

  .reviewClass {
    @apply bg-gray-300 w-full max-w-150 min-h-75 h-full rounded-2xl p-12 mx-4;
  }

  .color{
    @apply bg-orange-400;
  }

}

.animation {
  animation: slideUp 0.5s ease;
}

@keyframes slideUp {

  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }

}

.remove {
  animation: slideDown 0.5s ease;
}

@keyframes slideDown {

  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }

}